<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid class="full-height" id="page-container">
    <ion-row>
      <ion-col col-sm-10 class="center-x max-w-370">
        <ion-item class="tagInput">
          <ion-input type="text" placeholder="Enter a full battle tag"
                     name="newFullTag" class="tag" [(ngModel)]="newFullTag"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-sm-10 class="center-x max-w-330">
        <button ion-button block tappable (click)="getNewBattleTagData()" class="submit-btn center-x">
          <p style="display:inline">Search</p>
          <i *ngIf="isLoading" class="loadingIcon fa fa-refresh fa-spin fa-1x fa-fw margin-l-5"></i>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="player-contaner">
      <ion-col col-sm-10 class="center-x margin-t-0">
        <div *ngFor="let playerTag of appService.listOfPlayerTags" class="fade-in-anim"
             tappable (click)="goToUserStatPage(playerTag)">

          <ion-row class="max-h-80 max-w-300 card-container center-x margin-b-10">
            <div class="col-content">
              <img class="avatar-preview-img" src={{playerTag.data.us.stats.competitive.overall_stats.avatar}}>
              <div class="pad-l-20 text-left">
                <div class="card-header">{{playerTag.userStat.name}}</div>
                <div class="card-content">Rank: {{playerTag.data.us.stats.competitive.overall_stats.comprank}}</div>
              </div>
            </div>
          </ion-row>

        </div>

      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
