<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <ion-row>
      <ion-col col-sm-10 class="center-x">
        <ion-item class="tagInput">
          <ion-input type="text" placeholder="Enter a tag name"
                     name="newTagName" [(ngModel)]="newTagName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-sm-10 class="center-x">
        <ion-item class="tagInput">
          <ion-input type="text" placeholder="Enter a tag id"
                     name="newTagID" [(ngModel)]="newTagID"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-sm-10 class="center-x">
        <button ion-button block tappable (click)="getNewBattleTagData()">
          <p style="display:inline">Submit</p>
          <i *ngIf="isLoading" class="loadingIcon fa fa-refresh fa-spin fa-1x fa-fw margin-l-5"></i>
        </button>
      </ion-col>
    </ion-row>

    <ion-row class="player-contaner" align="center">
      <ion-col col-sm-10>
        <div *ngFor="let playerTag of appService.listOfPlayerTags" class="fade-in-anim"
             tappable (click)="goToUserStatPage(playerTag)">

          <ion-card>
            <ion-card-content class="pad-0">
              <ion-row>
                <ion-col col-4>
                  <img src={{playerTag.data.us.stats.competitive.overall_stats.avatar}}>
                </ion-col>

                <ion-col class="pad-l-10 pad-t-10 text-left" col-8>
                    <div class="card-header">{{playerTag.userStat.name}}</div>
                    <div class="card-content">Rank: {{playerTag.data.us.stats.competitive.overall_stats.comprank}} </div>

                </ion-col>
              </ion-row>
            </ion-card-content>

          </ion-card>
        </div>

      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
