// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// Helper Classes //
$maxVal: 500;
@for $i from 0 to $maxVal{

  .margin-#{$i}{
    margin: #{$i}px !important;
  }
  .margin-l-#{$i}{
    margin-left: #{$i}px !important;
  }
  .margin-r-#{$i}{
    margin-right: #{$i}px !important;
  }
  .margin-t-#{$i}{
    margin-top: #{$i}px !important;
  }
  .margin-b-#{$i}{
    margin-bottom: #{$i}px !important;
  }

  .pad-#{$i}{
    padding: #{$i}px !important;
  }
  .pad-t-#{$i}{
    padding-top: #{$i}px !important;
  }
  .pad-r-#{$i}{
    padding-right: #{$i}px !important;
  }
  .pad-b-#{$i}{
    padding-bottom: #{$i}px !important;
  }
  .pad-l-#{$i}{
    padding-left: #{$i}px !important;
  }

  .min-w-#{$i}{
    min-width: #{$i}px !important;
  }
  .max-w-#{$i}{
    max-width: #{$i}px !important;
  }
  .min-h-#{$i}{
    min-height: #{$i}px !important;
  }
  .max-h-#{$i}{
    max-height: #{$i}px !important;
  }
}

// End Helper Classes //

.scroll-content{
  //overflow-x: hidden;
  //overflow-y: hidden;
  padding: 0 !important;
}

.row-content{
  display: flex;
  flex-direction: column;
}

.col-content{
  display: flex;
  flex-direction: row;
}

.center-x{
  margin: auto;
}

.center-y-children{
  display: flex;
  align-items: center;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}

.full-height{
  height: 100%;
}

.full-width{
  width: 100%;
}

